/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --gray-900: #333;
}


button {
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.05);
  }
  &:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
  }
}
